<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd"
       default-autowire="byName">

    <bean id="bsFansWorkerScheduler" class="org.springframework.scheduling.quartz.SchedulerFactoryBean"
          lazy-init="false" autowire="no" destroy-method="destroy">
        <property name="triggers">
            <list>
          <!-- <ref bean="venderCarrierWorkerJobTrigger"/> -->
            </list>
        </property>
    </bean>

    <!-- 合并mq库存信息worker 
    <bean id="mergeMQMessageStockWorker" class="com.jd.list.bs.worker.MergeMQMessageStockWorker"/>
    <bean id="mergeMQMessageStockWorkerJob" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="mergeMQMessageStockWorker"/>
        <property name="targetMethod" value="doWorker"/>
        <property name="concurrent" value="false"/>
    </bean>
    <bean id="mergeMQMessageStockWorkerJobTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">
        <property name="jobDetail" ref="mergeMQMessageStockWorkerJob"/>
        <property name="cronExpression" value="${list.bs.jmq.stock.cron.expression}"/>
    </bean>
    -->
</beans>
