<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.2.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="AttentionMapper">
    <resultMap id="attentionVoMap" type="com.eden.fans.bs.domain.user.AttentionVo">
        <result column="id" property="id" jdbcType="BIGINT"/>
        <result column="att_type" property="attType" jdbcType="VARCHAR"/>
        <result column="from_user_code" property="fromUserCode" jdbcType="BIGINT"/>
        <result column="to_user_code" property="toUserCode" jdbcType="BIGINT"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
    </resultMap>
    <sql id="allColumn">
        select id,att_type,from_user_code,to_user_code,create_time,update_time
        from user_attention
    </sql>
    <!-- 根据用户关注其他用户刘表 -->
    <select id="qryFromAttentionVos" resultMap="attentionVoMap" parameterType="com.eden.fans.bs.domain.user.AttentionVo">
        <include refid="allColumn"/>
        where 1=1
        <if test="attType != null">
            and att_type = #{attType,jdbcType=VARCHAR}
        </if>
        <if test="fromUserCode != null">
            and from_user_code = #{fromUserCode,jdbcType=BIGINT}
        </if>
    </select>
    <!-- 根据用户关注其他用户刘表 -->
    <select id="qryToAttentionVos" resultMap="attentionVoMap" parameterType="com.eden.fans.bs.domain.user.AttentionVo">
        <include refid="allColumn"/>
        where 1=1
        <if test="attType != null">
            and att_type = #{attType,jdbcType=VARCHAR}
        </if>
        <if test="toUserCode != null">
            and to_user_code = #{toUserCode,jdbcType=BIGINT}
        </if>
    </select>

    <!-- 注册用户，插入新用户数据-->
    <insert id="addUserInfo"
            parameterType="com.eden.fans.bs.domain.user.UserVo">
        INSERT INTO user_info(
        user_code,user_name,phone,password,user_status,gender,active_level,user_role,platform
        ) VALUES (
        (SELECT nextval("user_code1")),#{userName,jdbcType=VARCHAR},#{phone,jdbcType=VARCHAR},#{password,jdbcType=VARCHAR},
        #{userStatus,jdbcType=TINYINT},#{gender,jdbcType=TINYINT},#{activeLevel,jdbcType=VARCHAR},#{userRole,jdbcType=TINYINT},#{platform,jdbcType=VARCHAR}
        )
    </insert>

    <insert id="addUserInfoDetail"
            parameterType="com.eden.fans.bs.domain.user.UserVo">
        INSERT INTO user_info
        (user_code,user_name,phone,password,user_status,
        <if test="bgImgUrl != null">
            bg_img_url,
        </if>
        <if test="headImgUrl != null">
            head_img_url,
        </if>
        <if test="gender != null">
            gender,
        </if>
        <if test="constellation != null">
            constellation,
        </if>
        <if test="cityCode != null">
            city_code,
        </if>
        active_level,user_role,
        <if test="signature != null">
            signature,
        </if>
        ,platform)
        VALUES
        ((SELECT nextval("user_code1")),#{userName,jdbcType=VARCHAR},#{phone,jdbcType=VARCHAR},#{password,jdbcType=VARCHAR}
        ,#{userStatus,jdbcType=TINYINT},
        <if test="bgImgUrl != null">
            #{bg_img_url,jdbcType=VARCHAR},
        </if>
        <if test="headImgUrl != null">
            #{head_img_url,jdbcType=VARCHAR},
        </if>
        <if test="gender != null">
            #{gender,jdbcType=TINYINT},
        </if>
        <if test="constellation != null">
            #{constellation,jdbcType=VARCHAR},
        </if>
        <if test="cityCode != null">
            #{cityCode,jdbcType=VARCHAR},
        </if>
        #{activeLevel,jdbcType=VARCHAR},#{userRole,jdbcType=TINYINT},
        <if test="signature != null">
            #{signature,jdbcType=VARCHAR},
        </if>
        #{platform,jdbcType=VARCHAR}
        )
    </insert>

</mapper>