<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.2.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="UserPraiseMapper">
    <resultMap id="attentionVoMap" type="com.eden.fans.bs.domain.user.UserPraiseVo">
        <result column="id" property="id" jdbcType="BIGINT"/>
        <result column="from_user_code" property="fromUserCode" jdbcType="BIGINT"/>
        <result column="to_user_code" property="toUserCode" jdbcType="BIGINT"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
    </resultMap>
    <sql id="allColumn">
        select id,from_user_code,to_user_code,create_time
        from user_praise
    </sql>

    <!-- 被赞数量统计 -->
    <select id="qryReceivePraiseCount" parameterType="java.lang.Long" resultType="int">
        SELECT SUM(1) FROM user_praise
        where
            and to_user_code = #{toUserCode,jdbcType=BIGINT}
    </select>

    <!-- 根据用户主动赞数量统计 -->
    <select id="qrySendPraiseCount" parameterType="java.lang.Long" resultType="int">
        SELECT SUM(1) FROM user_praise
        where
        from_user_code = #{fromUserCode,jdbcType=BIGINT}
    </select>

    <!-- 根据用户主动赞数量统计 -->
    <select id="qryPraisedFlag" parameterType="java.lang.Long" resultType="int">
        SELECT SUM(1) FROM user_praise
        where
        from_user_code = #{fromUserCode,jdbcType=BIGINT}
        AND to_user_code = #{toUserCode,jdbcType=BIGINT}
        AND create_time > CURDATE()
    </select>

    <!-- 插入赞或者被赞记录-->
    <insert id="addPraiseRecord"
            parameterType="com.eden.fans.bs.domain.user.UserPraiseVo">
        INSERT INTO user_praise(
        from_user_code,to_user_code
        ) VALUES (#{fromUserCode,jdbcType=BIGINT},#{toUserCode,jdbcType=BIGINT})
    </insert>

</mapper>