<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.2.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="UserMapper">
    <resultMap id="userVoMap" type="com.eden.fans.bs.domain.user.UserVo">
        <result column="id" property="id" jdbcType="BIGINT"/>
        <result column="user_code" property="userCode" jdbcType="BIGINT"/>
        <result column="user_name" property="userName" jdbcType="VARCHAR"/>
        <result column="phone" property="phone" jdbcType="VARCHAR"/>
        <result column="password" property="password" jdbcType="VARCHAR"/>
        <result column="user_status" property="userStatus" jdbcType="VARCHAR"/>
        <result column="bg_img_url" property="bgImgUrl" jdbcType="VARCHAR"/>
        <result column="head_img_url" property="headImgUrl" jdbcType="VARCHAR"/>
        <result column="birthday" property="birthday" jdbcType="DATE"/>
        <result column="gender" property="gender" jdbcType="VARCHAR"/>
        <result column="constellation" property="constellation" jdbcType="VARCHAR"/>
        <result column="city_code" property="cityCode" jdbcType="VARCHAR"/>
        <result column="active_level" property="activeLevel" jdbcType="VARCHAR"/>
        <result column="user_role" property="userRole" jdbcType="VARCHAR"/>
        <result column="signature" property="signature" jdbcType="VARCHAR"/>
        <result column="platform" property="platform" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
    </resultMap>
    <resultMap id="userCountVo" type="com.eden.fans.bs.domain.user.UserCountVo">
        <result column="user_code" property="userCode" jdbcType="BIGINT"/>
        <result column="fromNum" property="attentionNum" jdbcType="BIGINT"/>
        <result column="toNum" property="fansNum" jdbcType="BIGINT"/>
        <result column="imgNum" property="imgNum" jdbcType="BIGINT"/>
        <result column="videoNum" property="videoNum" jdbcType="BIGINT"/>
    </resultMap>
    <sql id="allColumn">
        select id,user_code,user_name,phone,password,user_status,bg_img_url,head_img_url,birthday,gender,
        constellation,city_code,active_level,user_role,signature,platform,create_time,update_time
        from user_info
    </sql>
    <!-- 根据手机号和密码查询用户信息 -->
    <select id="selectOneUserVo" resultMap="userVoMap" parameterType="com.eden.fans.bs.domain.user.UserVo">
        <include refid="allColumn"/>
        where 1=1
        <if test="phone != null">
            and phone = #{phone,jdbcType=VARCHAR}
        </if>
        <if test="password != null">
            and password = #{password,jdbcType=VARCHAR}
        </if>
        <if test="userCode != null">
            and user_code = #{userCode,jdbcType=BIGINT}
        </if>
    </select>
    <!-- 注册用户，插入新用户数据-->
    <insert id="addUserInfo"
            parameterType="com.eden.fans.bs.domain.user.UserVo">
        INSERT INTO user_info(
        user_code,user_name,phone,password,user_status,gender,active_level,user_role,platform
        ) VALUES (
        (SELECT nextval("user_code1")),#{userName,jdbcType=VARCHAR},#{phone,jdbcType=VARCHAR},#{password,jdbcType=VARCHAR},
        #{userStatus,jdbcType=TINYINT},#{gender,jdbcType=TINYINT},#{activeLevel,jdbcType=VARCHAR},#{userRole,jdbcType=TINYINT},#{platform,jdbcType=VARCHAR}
        )
    </insert>
    <!-- 完整填写资料注册用户，插入新用户数据-->
    <insert id="addUserInfoDetail" parameterType="com.eden.fans.bs.domain.user.UserVo">
        INSERT INTO user_info
        (user_code,user_name,phone,password,user_status,
        <if test="bgImgUrl != null">bg_img_url,</if>
        <if test="headImgUrl != null">head_img_url,</if>
        <if test="gender != null"> gender,</if>
        <if test="constellation != null">constellation,</if>
        <if test="cityCode != null">city_code,</if>
        active_level,user_role,
        <if test="signature != null">signature,</if>
        ,platform) VALUES
        ((SELECT nextval("user_code1")),#{userName,jdbcType=VARCHAR},#{phone,jdbcType=VARCHAR},
        #{password,jdbcType=VARCHAR},#{userStatus,jdbcType=TINYINT},
        <if test="bgImgUrl != null"> #{bg_img_url,jdbcType=VARCHAR},</if>
        <if test="headImgUrl != null">#{head_img_url,jdbcType=VARCHAR},</if>
        <if test="gender != null">#{gender,jdbcType=TINYINT},</if>
        <if test="constellation != null">#{constellation,jdbcType=VARCHAR},</if>
        <if test="cityCode != null">#{cityCode,jdbcType=VARCHAR},</if>
         #{activeLevel,jdbcType=VARCHAR},#{userRole,jdbcType=TINYINT},
        <if test="signature != null">#{signature,jdbcType=VARCHAR},</if>
        #{platform,jdbcType=VARCHAR}
        )
    </insert>

    <!-- 更改用户资料 -->
    <update id="updateUserInfo" parameterType="com.eden.fans.bs.domain.user.UserVo">
        update user_info set
        <if test="userName!=null"> user_name = #{userName,jdbcType=VARCHAR},</if>
        <if test="bgImgUrl!=null"> bg_img_url = #{bgImgUrl,jdbcType=VARCHAR},</if>
        <if test="headImgUrl!=null">head_img_url = #{headImgUrl,jdbcType=VARCHAR},</if>
        <if test="birthday!=null">gender = #{birthday,jdbcType=Date},</if>
        <if test="gender!=null">gender = #{gender,jdbcType=VARCHAR},</if>
        <if test="constellation!=null">constellation = #{constellation,jdbcType=VARCHAR},</if>
        <if test="cityCode!=null">city_code = #{cityCode,jdbcType=VARCHAR},</if>
        <if test="signature!=null">signature = #{signature,jdbcType=VARCHAR},</if>
        update_time = now()
        where user_code = #{userCode,jdbcType=BIGINT}
    </update>
    <!-- 设置管理员 -->
    <update id="setAdmin" parameterType="com.eden.fans.bs.domain.user.UserVo">
        update user_info set user_role = #{userRole,jdbcType=VARCHAR},update_time = now()
        where 1=1  <if test="userCode!=null"> and  user_code = #{userCode,jdbcType=BIGINT}</if>
        <if test="phone!=null"> and  phone = #{phone,jdbcType=VARCHAR}</if>

    </update>
    <!-- 设置管理员 -->
    <update id="resetPwd" parameterType="com.eden.fans.bs.domain.user.UserVo">
        update user_info set password = #{password,jdbcType=VARCHAR},update_time = now()
        where phone = #{phone,jdbcType=VARCHAR}
    </update>
    <!-- 设置管理员 -->
    <update id="updateUserStatus" parameterType="com.eden.fans.bs.domain.user.UserVo">
        update user_info set user_status = #{userStatus,jdbcType=TINYINT},update_time = now()
        where user_code = #{userCode,jdbcType=VARCHAR}
    </update>

    <!-- 根据userCode集合批量查询用户基础信息-->
    <select id="queryUserVoBatch" resultMap="userVoMap">
        select user_code,user_name,user_status,bg_img_url,head_img_url,gender,
        constellation,city_code,active_level,signature
        from user_info where user_code in
        <foreach item="item" index="index" collection="array"
                 open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <!-- 根据指定条件统计用户总数-->
    <select id="countUserNum" resultMap="userVoMap" parameterType="java.util.Map">
        select count(0)
        from user_info where 1=1
        <if test="userRole != null">
            and user_role = #{userRole,jdbcType=VARCHAR}
        </if>
        <if test="userStatus != null">
            and user_status = #{userStatus,jdbcType=VARCHAR}
        </if>
    </select>

    <!-- 根据指定条件分页查询用户列表-->
    <select id="queryUserByPage" resultMap="userVoMap" parameterType="java.util.Map">
        <include refid="allColumn"/>
        where 1=1
        <if test="userRole != null">
            and user_role = #{userRole,jdbcType=VARCHAR}
        </if>
        <if test="userStatus != null">
            and user_status = #{userStatus,jdbcType=VARCHAR}
        </if>
        order by ID limit #{page.dbIndex},#{page.dbNumber}
    </select>

    <select id="queryUserCountVo" resultMap="userCountVo" parameterType="com.eden.fans.bs.domain.user.UserVo">
    SELECT tt1.fromNum,tt1.toNum,tt1.user_code,tt2.imgNum,tt2.videoNum
    FROM (SELECT #{userCode,jdbcType=VARCHAR} AS user_code)) tt3
    LEFT JOIN
          (SELECT SUM(CASE WHEN from_user_code=#{userCode,jdbcType=VARCHAR} THEN 1 ELSE 0 END) AS fromNum,
                  SUM(CASE WHEN to_user_code=#{userCode,jdbcType=VARCHAR} THEN 1 ELSE 0 END) AS toNum,#{userCode,jdbcType=VARCHAR} AS user_code
            FROM user_attention
            WHERE from_user_code = #{userCode,jdbcType=VARCHAR} OR to_user_code=#{userCode,jdbcType=VARCHAR}) tt1
    ON tt3.user_code = tt1.User_code
    LEFT JOIN
          (SELECT SUM(CASE WHEN um_type='1' THEN 1 ELSE 0 END) AS imgNum,
                  SUM(CASE WHEN um_type='2' THEN 1 ELSE 0 END) AS videoNum,user_code
          FROM user_media
      WHERE is_valid=0 AND user_code = #{userCode,jdbcType=VARCHAR}) tt2
    ON tt3.user_code = tt2.user_code
    </select>
</mapper>